<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
		<title>New Recipe</title>
		<style type="text/css">body{margin:40px auto;max-width:850px;line-height:1.2;font-size:18px;color:#444;padding:0 10px}h1,h2,h3{line-height:1.2}</style>
	</head>
	<body>
        <h1>New Recipe</h1>
        <form action = "/add_result" method = "POST">
			<p><strong>Title: </strong> <input type = "text" name = "title" width ="40" placeholder="My Recipe"/></p>
			<p><strong>Image (URL): </strong> <input type = "text" name = "image" width ="40" placeholder="https://i.imgur.com/Kklfgsn.jpeg"/></p>
			<p><strong>Cook Time:</strong> <input type = "text" name = "cook_time" width ="40" placeholder="30 minutes"/></p>
			<p><strong>Servings:</strong> <input type = "text" name = "servings" width ="40" placeholder="2"/></p>
			<p><strong>Calories Per Serving:</strong> <input type = "text" name = "calories_per_serving" width ="40" placeholder="400"/></p>
			<p><strong>Ingredients (comma seperated):</strong> <br> <input type = "text" name = "ingredients" style="width:400px;height:50px" placeholder="1x Green Apple, 2x Ripe Bannanas"/></p>
			<p><strong>Directions ('/p' for new paragraph):</strong> <br> <input type = "text" name = "directions" style="width:400px;height:150px" placeholder="Perheat oven to 450 degrees. Bake for 12 minutes."/></p>
			<p><strong>References - (reference text:site url) (comma seperated):</strong> <br> <input type = "text" name = "references" style="width:400px;height:50px" placeholder="Food Network:http://foodnetwork.com, Google:https://google.com"/></p>
			<p><strong>Tags (comma seperated)</strong> 	<input type = "text" name = "tags" width ="40" placeholder="breakfast, easy, egg"/></p>
			
			<br>
			<p><input type = "submit" value = "submit" /></p>
		 </form>
	</body>
</html>