
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Damn Good Potatoes</title>
		<style type="text/css">body{margin:40px auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0 10px}h1,h2,h3{line-height:1.2}</style>
	</head>
	<body>
		<h1>Damn Good Potatoes</h1>
		<img style="width:auto; height:350px;" src="https://ih1.redbubble.net/image.879700851.8546/fpp,small,lustre,wall_texture,product,750x1000.jpg">
		<p><em>Cook Time: 30 minutes</em></p>
		
		<h2>Seriving Information</h2>
		<ul>
			<li>Servings - 2</li>
			<li>Calories per Serving - 300</li>
		</ul>
		
		<h2>Ingredients</h2>
		<ul>
			<li>Fucking Potatoes</li><li>1x Water</li>
		</ul>
		
		<h2>Directions</h2>
		<p>Take the potatoes and put them in the water. Boil the water for like a dozen minutes or so, stirring if you feel like it. Remove the water because you will just want to eat the potatoes and not the resulting potato water. Serve warm. </p><p> This is basically just sample text. I just wanted to know what this section looks like when populated with a few paraphrahs.</p>
		
		<h2>References</h2>
		<p>
			<ul>
				<li><a href="https://www.foodnetwork.com/recipes/food-network-kitchen/boiled-potatoes-with-butter-recipe-1944015">Food Network Recipe</a></li>
			</ul>
		</p>

		<h2>Tags</h2>
		<p>
			<a href="tags/potatoes.html">potatoes</a>&ensp;<a href="tags/breakfast.html">breakfast</a>&ensp;<a href="tags/lunch.html">lunch</a>&ensp;<a href="tags/dinner.html">dinner</a>&ensp;
		</p>

		<br><hr>
		
		<p>
			<a href="recipes.html">all recipes</a>&ensp;
			<a href="tags.html">all tags</a>&ensp;
		</p>
	</body>
</html>
